<div id="contentpage" class="contentpage">
  <!-- ======================= Cards ================== -->
  <%- include("../../Components/home/cardinfo.ejs") %>
  <!-- ================ Presensi List ================= -->
  <%- include('../../Components/home/presensimhs.ejs') %>
  <!-- ================ IPK & Calendar ================= -->
  <%- include('../../Components/home/ipkcalendar.ejs') %>
</div>

<script src="/public/js/ipkchart.js"></script>
<script src="/public/js/calendar.js"></script>
