<div class="card">
  <div>
    <div class="numbers"><%= value %></div>
    <div class="cardName"><%= cardName %></div>
  </div>

  <div class="iconBx">
    <ion-icon name="<%= iconName %>"></ion-icon>
  </div>
</div>
