<div class="container mt-3">
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="info">
            <h5 class="card-title">98%</h5>
            <p class="card-text">Presensi</p>
          </div>
          <div class="icons">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="info">
            <h5 class="card-title">3.85</h5>
            <p class="card-text">IPK Terakhir</p>
          </div>
          <div class="icons">
            <ion-icon name="school-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="info">
            <h5 class="card-title">275</h5>
            <p class="card-text">Pustaka</p>
          </div>
          <div class="icons">
            <ion-icon name="library-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="info">
            <h5 class="card-title">100k</h5>
            <p class="card-text">Tunggakan</p>
          </div>
          <div class="icons">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
