<div class="container mt-3">
  <div class="row bungkus">
    <div class="col-8">
      <div class="cardHeader">
        <h2>Riwayat Presensi</h2>
        <a href="#" class="btn">Lihat Semua</a>
      </div>

      <table>
        <thead>
          <tr>
            <td>Matkul</td>
            <td>Kode Dosen</td>
            <td>Tanggal</td>
            <td>Status</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>IMK</td>
            <td>AAM</td>
            <td>Senin, 24 Maret 2024</td>
            <td><span class="status delivered">Hadir</span></td>
          </tr>
          <tr>
            <td>BD</td>
            <td>AAM</td>
            <td>Senin, 24 Maret 2024</td>
            <td><span class="status delivered">Hadir</span></td>
          </tr>

          <tr>
            <td>AVD</td>
            <td>SS</td>
            <td>Selasa, 25 Maret 2024</td>
            <td><span class="status pending">Izin</span></td>
          </tr>

          <tr>
            <td>UI/UX</td>
            <td>R.BIN</td>
            <td>Selasa, 25 Maret 2024</td>
            <td><span class="status delivered">Hadir</span></td>
          </tr>

          <tr>
            <td>KPT</td>
            <td>NAS</td>
            <td>Rabu, 26 Maret 2024</td>
            <td><span class="status delivered">Hadir</span></td>
          </tr>

          <tr>
            <td>KAL</td>
            <td>MS</td>
            <td>Jum'at, 27 Maret 2024</td>
            <td><span class="status return">Alpha</span></td>
          </tr>

          <tr>
            <td>PA</td>
            <td>MF</td>
            <td>Jum'at, 27 Maret 2024</td>
            <td><span class="status delivered">Hadir</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="cardHeader">
        <h2>Mahasiswa Aktif</h2>
      </div>

      <table>
        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer02.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Daris Nabil M. <br />
              <span class="online">Online</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer01.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Hamudi Bait K. <br />
              <span class="online">Online</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer02.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Dimas Faril A. <br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer01.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Hadihiar Muhammad F. <br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer02.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Naufal Fawwaz A.<br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer01.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Virgiawan A. P <br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer01.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Fajar Niko P. <br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx">
              <img src="/public/img/customer02.jpg" alt="" />
            </div>
          </td>
          <td>
            <h4>
              Panji Pramudia B. <br />
              <span class="offline">Offline</span>
            </h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
