<aside id="sidebar">
  <div class="sidebar-logo" id="toggle-logo">
    <img src="/public/img/logo/stmik.png" alt="" />
    <span>STMIK YMI Tegal</span>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link has-dropdown">
        <ion-icon name="book-outline"></ion-icon>
        <span>Akademika</span>
      </a>
      <ul id="akademika" class="sidebar-dropdown list-unstyled">
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">Jadwal</a>
          <ul id="jadwal" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Jadwal Kuliah</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Jadwal Ujian Semester</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">KRS</a>
          <ul id="krs" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Ambil KRS</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Cetak KRS</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Hapus KRS</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Kartu Ujian</a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Suket & SKTM</a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">Presensi</a>
          <ul id="presensi" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Lihat Presensi</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Presentasi Presensi</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">Mata Kuliah</a>
          <ul id="matkul" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Materi Mata Kuliah</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Tugas Mata Kuliah</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">UTS UAS Mata Kuliah</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Pengajuan Cuti</a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">Skripsi TA</a>
          <ul id="skripsita" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Cari Judul Skripsi/TA</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Pengajuan Judul Skripsi/TA</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link has-dropdown">Nilai</a>
          <ul id="nilai" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">KHS</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">AKM</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Transkip Nilai</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Pendaftaran Wisuda</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link has-dropdown">
        <ion-icon name="document-text-outline"></ion-icon>
        <span>Kuisioner</span>
      </a>
      <ul id="kuisioner" class="sidebar-dropdown list-unstyled">
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Layanan Dosen</a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Layanan Kampus</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>Keuangan</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link has-dropdown">
        <ion-icon name="library-outline"></ion-icon>
        <span>Perpustakaan</span>
      </a>
      <ul id="perpus" class="sidebar-dropdown list-unstyled">
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Cari Pustaka</a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">Riwayat Peminjaman</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <ion-icon name="list-outline"></ion-icon>
        <span>Riwayat Aktivitas</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a href="#" class="sidebar-link">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Keluar</span>
    </a>
  </div>
</aside>
